.urcrypto_dashboard_portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.urcrypto_dashboard_portfolio_container{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;    
width: 95%;
overflow-y: scroll;
height: 95%;
gap: 3rem;
-ms-overflow-style: none;
scrollbar-width: none;
}
.urcrypto_dashboard_portfolio_container ::-webkit-scrollbar{
    display: none;
}

.urcrypto_dashboard_portfolio_summary{
 grid-row: span 1;
 grid-column:span 3;
 height: 15rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center; 
}
.urcrypto_dashboard_portfolio_wallet_balance{
grid-column:span 2;    
grid-row: span 3;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
overflow-y:auto ;
border-radius: .3rem;
}
.urcrypto_dashboard_portfolio_orders{
    grid-column: span 2;    
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}