.urcrypto_footer{
    height: 37.611rem;
    width: 90%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.urcrypto_footer_container{
display: flex;
height: 34rem;
width: 98%;
align-items: center;
flex-direction: column;
justify-content: center;
}
.urcrypto_footer_logo{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    align-self: start;
}
.urcrypto_footer_logo img{
    height: 4rem;
    align-self: start;
    width: 12rem;
}
.urcrypto_footer_logo_social_links{
    width:23rem;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.urcrypto_footer_logo_social_links svg{
    height: 2rem;
    align-items:center;
    color:var(--main-background-color);
    background-color: #626262;
    justify-content: center;
    display: flex;
    border-radius: 2rem;
    padding: 7px;
    width: 2rem;
}

.urcrypto_footer_top{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 4rem;
    align-items: flex-start;
    text-align: start;
    justify-content: space-between;
}
.urcrypto_footer_top_text{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(180px,1fr));
    height: 100%;
    place-items: start;
    width:70%;
}
.urcrypto_footer_top_text h3{
font-family: 'Inter';
}
.urcrypto_footer_bottom{
    font-family: 'Inter';
}
@media screen and (max-width:1024px) {
    .urcrypto_footer{
        height:60rem;
        width: 98%;
    }
   
    .urcrypto_footer_logo{
        width: 50%;
    }
    .urcrypto_footer_top_text{

        width: 100%;
      
    }
    @media screen and (max-width:700px) {
        .urcrypto_footer{
            height:80rem;
            width: 98%;
        }
        .urcrypto_footer_top{
            flex-direction: column;
        }
        .urcrypto_footer_logo{
            width: 100%;
            align-items: center;

        }
        .urcrypto_footer_logo img{
            align-self: center;
        }
        .urcrypto_footer_logo_social_links{
            width: 90%;}
}
}
@media screen and (max-width:374px){
    .urcrypto_footer{
        height:110rem;
    }
}