.urcrypto_footer{
    height: 30.611rem;
    background-color: blue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.urcrypto_footer_container{
display: grid;
background-color: aquamarine;
height: 24rem;
width: 75%;
grid-template-columns:  repeat((auto-fit, minmax()));
}
.urcrypto_footer_bottom{
    font-family: 'Inter';
}