.urcrypto_dashboard_portfolio_wallet_balance{
 overflow-y: scroll;   
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 scroll-snap-align: y;
 scroll-snap-type: mandatory;
 width: 100%;
}
.urcrypto_dashboard_wallet_crypto_balance_list_column_header h3 {
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
}