.urcrypto_dashboard {

   width: 100%;
   height: 100vh;

   -ms-overflow-style: none;
   scrollbar-width: none;
}

.urcrypto_dashboard_sidenav {
   grid-area: sidenav;
   place-items: center;
   justify-items: center;
   border: 1px solid #e5e5e5;
   height: 100vh;
}

.urcrypto_dashboard_header {
   grid-area: header;
   border: 1px solid #e5e5e5;
}

.urcrypto_dashboard_content {
   grid-area: body;
   height: 100vh;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.urcrypto_dashboard_home_transactions::-webkit-scrollbar {
   display: none;
}


@media screen and (max-width: 600px) {
   .urcrypto_dashboard {
      grid-template-areas: 'header header header'
         'body body body'
         'body body body';
      grid-template-columns: 1fr 5fr 5fr;

   }


}