.urcrypto_dashboard_sidenav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.urcrypto_dashboard_sidenav_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.urcrypto_dashboard_sidenav_container button{
    background-color: transparent;
    border: none;
    display: none;
}
.urcrypto_dashboard_sidenav_header svg{
display: none;
}
.urcrypto_dashboard_sidenav_container button svg{
height: 2rem;
align-self: center;
width: auto;
}
.urcrypto_dashboard_sidenav_header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.urcrypto_dashboard_sidenav_header img{
height: 2rem;
margin-left: 2.8rem;
width: auto;
}
.urcrypto_dashboard_sidenav_links_container{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    margin-bottom: 8rem;
}
.urcrypto_dashboard_sidenav_links_container a {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;

}
.urcrypto_dashboard_sidenav_links_container a p {
    width: 70%;
    display: flex;
   text-align: left;
    font-family: 'Inter';
    font-size: 1.1rem;
    text-align: center;
    color: #A9A9A9;
}
.urcrypto_dashboard_sidenav_links_container a  :active{
    color: var(--button-color);
}
.urcrypto_dashboard_sidenav_links_container a svg {
    height: 1.5rem;
    width: 1.5rem;
    color:#A9A9A9;
}
@media screen and (max-width: 600px){
    .urcrypto_dashboard_sidenav{
        width: 14rem;
        background-color: var(--button-color);
    }
    .urcrypto_dashboard_sidenav_links_container a {
        width: 100%;
        justify-content: center;
    }
    .urcrypto_dashboard_sidenav_links_container a p{
        width: 53%;
        margin-left: 1rem;
        
    }
    .urcrypto_dashboard_sidenav_links_container a p {
        color: var(--main-background-color);
    }
    .urcrypto_dashboard_sidenav_links_container a svg {
        color: var(--main-background-color);

    }
    .urcrypto_dashboard_sidenav_header svg{
        display: block;
        }
    .urcrypto_dashboard_sidenav{
        position: fixed;
    }
    .urcrypto_dashboard_sidenav button{
        position: relative;
        display: block;
        left: 8rem;
    }
    .urcrypto_dashboard_sidenav_links_container a svg {
        height: 2rem;
        width: 2rem;
        color:var(--main-background-color);
    }
}
@media screen and (max-width: 400px){
    .urcrypto_dashboard_sidenav{
        width: 13rem;  
    }
    
}





