.urcrypto_features {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
  margin-top: 3rem;
}

.section_1 {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.section_1 .urcrypto_features_section_image_area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31rem;
  width: 50%;
  margin-left:5rem ;
}
.section_1 .urcrypto_features_section_image_area .urcrypto_features_phone{
  background-color: var(--features-section-2-background-color);
  width: 32rem;
  display: flex;
    border-radius: 2rem;
  align-items: center;
  justify-content: center;
}
.section_2 .urcrypto_features_section_image_area .urcrypto_features_phone{
  background-color: var(--features-section-1-background-color);
  width: 32rem;
  display: flex;
    border-radius: 2rem;
  align-items: center;
  justify-content: center;
}
.section_3 .urcrypto_features_section_image_area .urcrypto_features_phone{
  background-color: var(--features-section-2-background-color);
  width: 100%;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}
.section_2 .urcrypto_features_section_image_area {
  display: flex;
  align-items: center;
  height: 32.1rem;
  justify-content: center;
  width: 100%;
}.section_3 .urcrypto_features_section_image_area {
  display: flex;
  align-items: center;
  height: 50%;
  justify-content: center;
  width: 100%;
  border-radius: 1rem;
}
.section_1 .urcrypto_features_section_image_area .urcrypto_features_phone img {
  height: 30rem;
  width: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.section_2 .urcrypto_features_section_image_area .urcrypto_features_phone img {
  background-color: var(--features-section-1-background-color);
  align-self: center;
  height: 30rem;
  width: 22rem;
  margin-top: 2rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_3 .urcrypto_features_section_image_area .urcrypto_features_phone img {
  background-color: var(--features-section-2-background-color);
  align-self: center;
  height: 28rem;
  margin-top: 2rem;
  width: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_1 .urcrypto_features_info {
  height: 9rem;
  width: 20rem;
  display: flex;
 align-self: center;
  position: absolute;
  margin-top: 3.6rem;
 left: 6%;
 box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.section_2 .urcrypto_features_info {
  background-color: var(--features-section-1-background-color);
  height: 14rem;
  width: 20rem;
  position: absolute;
 align-self: flex-start;
 margin-top: -3rem;
 left: 75%;
 box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.section_3 .urcrypto_features_info {
  background-color: var(--features-section-2-background-color);
  height: 14rem;
  width: 31rem;
  position: relative;
  align-self: flex-end;
  right: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.section_1 .urcrypto_features_phone_description img {
  height: 100%;
  width: 100%;
}
.section_2 .urcrypto_features_phone_description img {
  height: 100%;
  width: 100%;
}
.section_3 .urcrypto_features_phone_description img {
  height: 100%;
  width: 100%;
}
.section_2 {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.section_3 {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.urcrypto_features_section_text_area {
  height: 90%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.urcrypto_features_section_text_area h1 {
  font-size: clamp(2rem,5vw,var(--heading-1-font-size));
  width: 90%;
  font-family: "YukitaSansBold";
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  text-align: start;
}
.urcrypto_features_section_text_area p {
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter";
  height: 4rem;
  width: 90%;
  display: flex;
  align-items: center;
  text-align: start;
  text-transform: capitalize;
  color: #626262;
}



@media screen and (max-width: 1024px) {
  .section_1 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
  }
  .section_1 .urcrypto_features_section_image_area{
    background-color: aqua;
  }
  .section_1 .urcrypto_features_section_image_area .urcrypto_features_info{
    left: 12rem;
  }
  .section_2 .urcrypto_features_section_image_area{
    background-color: blue;
  }
  .section_2 .urcrypto_features_section_image_area .urcrypto_features_info{
    left:37rem;
margin-top: -3rem;
  }
  .section_3 .urcrypto_features_section_image_area{
    background-color: blue;
    justify-content: center;
    align-items: center;
  }
  .section_3 .urcrypto_features_section_image_area .urcrypto_features_phone{
    align-self: center;  
  }
  .section_3 .urcrypto_features_section_image_area .urcrypto_features_info{

  }
  .section_2 {
    flex-direction: column;
    justify-content: center;
  }
  .section_3 {
    flex-direction: column;
    justify-content: center;

  }
}