.urcrypto_benefits {
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.urcrypto_benefits_container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 95%;
}
.urcrypto_benefits_text_area {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  align-items: center;
  justify-content: space-around
}
.urcrypto_benefits_image_area{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.urcrypto_benefits_image_area_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    background-color: var(--features-section-1-background-color);
}
.urcrypto_benefits_image_left{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.urcrypto_benefits_image_right{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.urcrypto_benefits_image_left :nth-child(1){
width: 16rem;
height: 25.5rem;
}
.urcrypto_benefits_image_left :nth-child(2){
    width: 16rem;
    height: 25rem;
}
.urcrypto_benefits_image_right :nth-child(1){
    width: 15.8rem;
    height: 5rem;
}
.urcrypto_benefits_image_right :nth-child(2){
    width: 15.8rem;
    height: 33rem;
}
.urcrypto_benefits_image_right :nth-child(3){
    width: 15.8rem;
    height: 9rem;
}

.urcrypto_benefits_text_area h1 {
  font-size: var(--heading-1-font-size);
  font-family: "YukitaSansBold";
  text-transform: capitalize;
  text-align: start;
}
.urcrypto_benefits_description {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 70%;
}

.urcrypto_benefits_description_container {
  width: 100%;
  display: flex;
  border-bottom: #E3E3E3 solid 1px;
  flex-direction: row;
}
.urcrypto_benefits_description_text {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 90%;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-around;
}
.urcrypto_benefits_description_bullet {
  width: 10%;
  height: 100%;
  display: flex;
  font-family: "YukitaSansBold";
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -20px;
}
.urcrypto_benefits_description_bullet  h4{
    font-size: 1.5rem;
    color: var(--features-number-font-color);
}
.urcrypto_benefits_description_text h2 {
  font-family: "YukitaSansBold";
  text-transform: capitalize;
}
.urcrypto_benefits_description_text p {
  font-family: "Inter";
  text-transform: capitalize;
  font-weight: 400;
  text-align: start;
}
